**/.tox
tox.ini
*.pyc
*~
*.o
**/mwbzutils/*.gz
**/docs/*.gz
output/
mwbzutils-0*
**/mwbzutils/appendbz2
**/mwbzutils/checkforbz2footer
**/mwbzutils/dumpbz2filefromoffset
**/mwbzutils/dumplastbz2block
**/mwbzutils/findpageidinbz2xml
**/mwbzutils/getlastidinbz2xml
**/mwbzutils/recompressxml
**/mwbzutils/revsperpage
**/mwbzutils/showcrcs
**/mwbzutils/writeuptopageid
inprogress
atgtesting